body{
  background-color: rgb(165, 124, 110);
}
.App {
  text-align: center;
  margin-top: 2em;
  margin-left: 10em;
  margin-right: 10em;
  background-color: wheat;
  border:5px solid black;
}
.image{
  height: 15em;
  width: 20em;
}
.error-output{
  color: red;
}
.paragraph{
  margin-left: 12em;
  margin-right: 12em;
  overflow-wrap: break-word;
  border: black;
}